* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "segoe ui";
  height: 2000px;
}
/*
    style topNavbar
*/
.topNavbar {
  height: 50px;
  width: 100%;
  background-color: #1177ca;
  position: relative;
}
.topNavbar a {
  color: white;
}
/*
    style card section flexbox starts here
*/
.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #cccccc;
  margin-top: 20px;
}
.flex-container > #card-id {
  background-color: #ffffff;
  width: 30%;
  height: 400px;
  margin: 2px;
  /*text-align: center;*/
  line-height: 30px;
  font-size: 20px;
  margin: 20px 0px 0px 10px;
}
/*
    style card section flexbox ends here
*/
.flex-container #card-id {
  background-color: #ffffff;
  border: 1px solid gray;
}

.flex-container #card-id .checked {
  /*color:blue;*/
  color: #00334d;
}
/*
    style card button
*/
.flex-container #card-id .card-button {
  background-color: orange;
  border: none;
  color: white;
  height: 40px;
  width: 80px;
  /*padding: 14px 28px;*/
  font-size: 13px;
  cursor: pointer;
  margin-left: 70%;
  margin-right: 20px;
  /*margin:0px 20px 0px 70%;*/
  text-align: center;
  font-weight: 700;
  border-radius: 5px;
}

/*
    style buttom text
*/
.flex-container #card-id #buttom-text {
  font-size: 10px;
}
.flex-container #card-id p {
  font-size: 12px;
}
/*
    style card text content
*/
.card-text {
  color: black;
  color: #241c31;
  padding: 3px 3px 3px 3px;
  margin-left: 10px 0px 0px 8px;
}
.id-text {
  float: right;
  margin-right: 0px 5px 5px 0px;
}
/*
*/
@media only screen and (max-width: 900px) {
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
  }
  .flex-container > #card-id {
    background-color: #ffffff;
    width: 100%;
    margin: 2px;
    /* text-align: center;*/
    line-height: 30px;
    font-size: 20px;
  }
}
/*
   style the buttons on the image
*/
.image-container {
  background-color: #1177ca;
  position: relative;
}
.image-container .topright {
  position: absolute;
  top: 8px;
  right: 16px;
  background-color: #f2f2f2;
  color: #000;
  line-height: 26px;
  font-size: 11px;
  border-radius: 2px;
  padding: 4px 4px 3px 4px;
}
.image-container .left-buttom {
  position: absolute;
  top: 8px;
  right: 70%;
  top: 70%;
  background-color: #f2f2f2;
  color: #000;
  font-size: 11px;
  border-radius: 5px;
  padding: 4px 4px 3px 4px;
  font-weight: 900;
  width: 100px;
  font-family: "Open Sans", sans-serif;
}
.image-container .right-buttom {
  position: absolute;
  top: 8px;
  right: 10%;
  top: 70%;
  /* background-color: #174f4f;*/
  background-color: #1a1a1a;
  color: white;
  border-radius: 10px;
  padding: 4px 4px 3px 4px;
  font-weight: 900;
  width: 35px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin-right: 3px;
}
.image-container .right-buttom-1 {
  position: absolute;
  top: 8px;
  right: 1%;
  top: 70%;
  /*background-color:#00334d;*/
  background-color: #1a1a1a;
  color: white;
  border-radius: 10px;
  padding: 4px 4px 3px 4px;
  font-weight: 900;
  width: 35px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.image-container .topright i {
  color: black;
}
.buttom-text {
  margin-bottom: 50px;
}

/*
    top navbar right
*/

.price-range-block {
  margin: 30px;
  border: 2px;
}
.sliderText {
  width: 42%;
  margin-bottom: 30px;
  border-bottom: 1px solid red;
  padding: 10px 0 10px 0px;
  font-weight: bold;
}
.ui-slider-horizontal {
  height: 0.6em;
}
.ui-slider-horizontal {
  margin-bottom: 15px;
  width: 40%;
}
.ui-widget-header {
  background: #3fe331;
}
.price-range-search {
  width: 41%;
  background-color: #f9f9f9;
  border: 1px solid #6e6666;
  min-width: 40%;
  display: inline-block;
  height: 32px;
  border-radius: 5px;
  float: left;
  margin-bottom: 20px;
  font-size: 16px;
}
.price-range-field {
  width: 18%;
  min-width: 16%;
  background-color: #f9f9f9;
  border: 1px solid #6e6666;
  color: black;
  font-family: myFont;
  font: normal 14px Arial, Helvetica, sans-serif;
  border-radius: 5px;
  height: 23px;
  padding: 5px;
}
.search-results-block {
  position: relative;
  display: block;
  clear: both;
}
.price-range-block {
  height: 100px;
  width: 100%;
}
/*
    place auto complete style
*/
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  font-family: Roboto;
  padding: 0;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}
